{{#if showEditQuestionForm}}
  <form>
    <div class="form-group">
      <label for="question">Question:</label>
      {{input value=content placeholder=question.content}}
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      {{input value=author placeholder=question.author}}
    </div>
    <div class="form-group">
      <label for="notes">Additional Notes:</label>
      {{input value=notes placeholder=question.notes}}
    </div>
    <button class="btn btn-secondary" {{action 'editQuestion' question}}>Save</button>
  </form>
{{else}}
  <button class="btn btn-warning" {{action 'showEditQuestionForm'}}>Edit</button>
{{/if}}
