<div class="well">
  <h4>{{question.content}}</h4>
  <h6>By {{question.author}}</h6>
  <p>{{question.notes}}</p>
  {{edit-question question=question editQuestion='editQuestion' deleteQuestion='deleteQuestion'}}
</div>
{{answer-tile answers=question.answers question=question deleteAnswer='deleteAnswer' upVote='upVote' downVote='downVote' saveAnswer='saveAnswer' emptyInput='emptyInput'}}
